<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
	  throwExceptions="true"
      internalLogLevel="Warn"
	  internalLogIncludeTimestamp="true"
      internalLogFile="internal-nlog.txt">

	<!-- define various log targets -->
	<targets>
		<!-- write logs to file -->
		<target xsi:type="File" name="allfile" fileName="Loggers/${shortdate}.log"
					 layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />


		<target xsi:type="File" name="ownFile-web" fileName="Loggers/${shortdate}.log"
				 layout="${longdate}|${logger}|${uppercase:${level}}|  ${message} ${exception}" />

		<target xsi:type="Null" name="blackhole" />

		<!--<target xsi:type="Database"
		   name="db"
		   dbProvider="System.Data.SQLite.SQLiteConnection, System.Data.SQLite"
		   connectionString="Data Source=E:\\database.db;">
			<commandText>
				insert into Logs (TimestampUtc, Application, Level, Message, Exception, Logger)
				values (@timestamputc, @application, @level, @message, @exception, @logger);
			</commandText>
			<parameter name="@timestamputc" layout="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
			<parameter name="@application" layout="My App" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@exception" layout="${exception:format=tostring}" />
			<parameter name="@logger" layout="${logger}" />
		</target>-->
	</targets>

	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Trace" writeTo="allfile" />

		<!--Skip Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
		<logger name="*" minlevel="Trace" writeTo="ownFile-web" />
	</rules>
</nlog>